.header-btn,
.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    color: black;

}

li{
    list-style-type: none;
}
.header-btn,
.header-menu li a{
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #25262a;
    font-size: 20px;
    text-decoration: none !important;
}
.header-btn li button svg:hover,
.header-btn li a svg:hover{
    color: #ee4266;
    fill: #ee4266;
}
.header-menu li a:hover{
    color: #ee4266;
}
.header-menu li a.active{
    color: #ee4266;
}

.header-btn{
    margin-left: auto;
    gap: 30px;
}

button{
    background: none;
    border: none;

}
.drop{
    position: relative;
}

.drop-menu{
    position: absolute;
    top: 25px;
    left: -100px;
    width: 200px;
    border-top: 3px solid #ee4266;
    border-radius: 5px;
    box-shadow: 5px 3px 3px #25262a;
    display: none;
}

.drop:hover .drop-menu{
    display: block;
}

.drop-menu:hover{
    display: block;
}
.Logo{
    max-width: 100%;
}